@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

#holder {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80px;
  height: 80px;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  transition: background 0.25s ease-in-out;
  overflow: hidden;
  box-shadow: 1.8px 1.3px 2.7px rgba(0, 0, 0, 0.151),
    4.5px 3.2px 6.9px rgba(0, 0, 0, 0.185);
}
.line1,
.line2,
.line3 {
  width: 60px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  /* margin: 10px 0; */
}
.line1 {
  transform: translateY(-20px);
}
.line3 {
  transform: translateY(20px);
}

.container:hover {
  background-color: rgb(65, 65, 65);
}

/* After add or remove hello class to .contrainer does this */
.hello {
  border-radius: 50%;
  background-color: rgb(96, 0, 141);
}
.hello .line2 {
  transform: translateX(-100px);
  opacity: 0;
}
.hello .line1 {
  transform: rotate(45deg);
}

.hello .line3 {
  transform: rotate(-45deg);
}

/* ----------------------------- */
/* drop down menu start */
/* ----------------------------- */
.drop-container {
  border-radius: 18px;
  margin-top: 20px;
  overflow-x: hidden;
  width: 20px;
  transition: all 0.3s 0.4s cubic-bezier(0.6, -0.49, 0.69, 1.04);
}

.drop-down {
  background-color: rgb(39, 39, 39);
  transform: translateY(-450px);
  transition: transform 0.5s ease-in-out;
}

.list-item {
  list-style: none;
  padding: 10px;
}
.list-item a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  display: block;
  padding: 20px 60px;
  text-align: center;
  border-radius: 10px;
  /* transform: translateY(-20px); */
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.slide-in {
  background-color: rgb(39, 39, 39);
  transform: translate(0px);
  border-radius: 18px;
  transition: transform 0.5s cubic-bezier(0.25, 0.33, 0.38, 0.91);
}

.slide-in .list-item a {
  /* padding: 20px 60px; */
  transition: transform opacity 250ms ease-in-out;
  animation: fade-in 1s ease-in-out;
  opacity: 1;
}

@keyframes fade-in {
  from {
    transform: translateX(-450px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slide-in a:hover {
  background-color: rgb(117, 117, 117);
}

.slide-in .drop-container {
  width: 400px;
}
